<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036708710677-k8gla33nv7jmhejvrtfft2528aujk44u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036708710677-k8gla33nv7jmhejvrtfft2528aujk44u</string>
	<key>API_KEY</key>
	<string>AIzaSyDmYgfaXmzayuYOXKgpuqvROVvA_CgQ2x8</string>
	<key>GCM_SENDER_ID</key>
	<string>1036708710677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sistechy.Flick</string>
	<key>PROJECT_ID</key>
	<string>flick-efdc4</string>
	<key>STORAGE_BUCKET</key>
	<string>flick-efdc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036708710677:ios:2530db3404051e51c7811c</string>
	<key>DATABASE_URL</key>
	<string>https://flick-efdc4.firebaseio.com</string>
</dict>
</plist>
